* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #4682b4;

}

.container {
    background-color: #4CAF50;
    width: 600px;
    height: 120%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    border: solid #fff;
    border-radius: 20px;
    font-size: 20px;
    }

.parrafo{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: Times, "Times New Roman", Georgia, serif;
    color:#ffffff;
}

    h2 {
    margin-bottom: 20px;
    }

    h1{
    text-decoration: none;
    }

    label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    }

    input[type="text"],
    input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    }

    input[type="submit"] {
    background-color: #e48a0d;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: solid #fff;
    cursor: pointer;
    font-size: 13px;
    border-radius: 10px;
    }

    input[type="submit"]:hover{
    background-color: #04a2ec;
    }

    a {
    color: #ffffff;
    text-decoration: none;
    }

    a:hover {
    text-decoration: underline;
    color: #1201ff;
    }

@media (max-width:960px)


.separador{
    border: 1px solid rgb(219, 219, 219);
    height: 100%;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade.show {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}